.linkeeeees{
    display: flex !important;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
}
.linkeeeees a { 
    color: #ffffff !important;

}
.linkeeeees a :hover {
    color: #ff0000 !important;
}