/* Add a black background color to the top navigation */
.topnav {
    background-color: #343a40;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #495057 !important;
   
    color: rgb(255, 0, 0) !important;
    border-radius: 12px;
  }
.nave {
  color: #f2f2f2 !important;
}