div {
    padding: 8px !important;
  }
  
  h1 {
    text-align: center !important;
    text-transform: uppercase !important;
    color: #ff0000 !important;
    font-size: 25px;

  }
  
  p {
    text-indent: 50px !important;
    text-align: center !important;
    color: rgb(255, 255, 255);
  }
  
  a {
    text-decoration: none!important;
    color: #008CBA !important ;
  }